statsmodels
wheel
lxml
beautifulsoup4~=4.9.3
Flask~=1.1.2
Flask-SQLAlchemy
Flask-WTF
bootstrap-flask
requests
pandas~=1.1.5
selenium~=3.141.0
sklearn~=0.0
plotly~=4.14.3
pystan==2.19.1.1
numpy
prophet
pylint
pytest
WTForms~=2.3.3
scikit-learn~=0.24.1
SQLAlchemy~=1.3.23
