{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}

    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 border-bottom">
        <h2>Get a vehicle valuation</h2>
    </div>
    <p class="lead">Receive a vehicle valuation using maching learning</p>

    <div class="col-md-4">
        {{ render_form(form) }}
        <p>Hint: the more information you provide, the more accurate your valuation will be</p>

    </div>


{% endblock %}